@mixin flexCenter($direction) {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: $direction;
}

*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.hero-section{
    height: 75vh;
    margin-top: 70px;
    text-align: center;
    .text{
        color:black;
        text-align: center;
    }
   
    ul{
        list-style-type: none;
        flex-wrap: wrap;
        @include flexCenter(row);
        
    }
    li{
        margin:10px;
    }
    a{
        text-decoration: none;
        color: black;
        padding:16px;
        border-radius: 50%;
        border:2px solid black;
        margin:17px;
       outline: none;
        font-size: 20px;
        &:hover{
            transform: scale(0.9);
        }
    }
    button{
        padding:16px;
        border: 1px solid black;
        background-color: transparent;
        margin-top:15px;
    }
}
.footer{
background-color: black;
color: white;
height:20vh;
text-align: center;

}
footer{
    padding:16px;
}
#loading{
text-align: center;
margin: 50px;

}
